@import "tailwindcss";
@import "./typography.css" layer(components);

:root {
  color-scheme: dark;

  --color-bg: radial-gradient(
    ellipse 80% 80% at 50% -20%, 
    #161d36 0%, 
    #0d1223 100%
  );
  --color-link: #0EF6F5;
  --color-muted-text: #F6F6F6;
}

@layer components {
  .card-base {
    @apply rounded-xl overflow-hidden bg-[#050915] transition shadow-[0px_4px_15px_0px_rgba(0,_0,_0,_0.7)];
  }

}

@layer base {
  body {
    background: var(--color-bg);    
    color: var(--color-muted-text);
    font-family: theme("fontFamily.sans"); /* o el que uses */
  }
  
}

/* ensure .link and typography.css are consistent */
.link {
  color: var(--prose-link-color);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  text-underline-offset: 2px;  
  text-decoration-thickness: 1px;
  & code {
    font-weight: var(--font-weight-semibold);
  }
}

