---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
import WidgetCategory from "@/components/WidgetCategory.astro";

---

<BaseLayout>
  <SeoPage slot="head" />
  <WidgetCategory slot="sidebar" />
  <div class="max-w-screen">   
    <div class="max-auto w-full flex justify-start flex-col gap-4 ">
      <Posts />
      <Projects />      
    </div>    
  </div>
</BaseLayout>
