---
import { SITE } from "@/siteConfig";
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear();

// w-full mx-auto flex justify-center mt-16 mb-10 gap-4 md:pl-0 lg:max-w-4xl
---

<footer
  class="mx-auto w-full md:max-w-4xl p-10 flex justify-between items-center gap-2 "
>  
  <span class="md:text-base text-xs">{year} {SITE.author}</span>
  <SocialLinks />
</footer>



