---
import { getCollection } from "astro:content";
import Project from "./Project.astro";

const projects = await getCollection("projects");

---

<section>  
  <div class="grid list-none gap-4 p-0">
    {
      projects.map((project) => (
        <Project project={project} />     
      ))
    }
  </div>
</section>
