---
import { SOCIAL_LINKS } from "@/siteConfig";

import ExternalLink from "@/components/ExternalLink.astro";
import Email from "./icons/Email.astro";
---

<section class="py-3"> 
  <div class="flex flex-row justify-end gap-4 p-0 md:text-base text-xs">
    {
      Object.keys(SOCIAL_LINKS).map((socialLinkKey) => {
        return (
          <ExternalLink href={SOCIAL_LINKS[socialLinkKey].href}>
            {SOCIAL_LINKS[socialLinkKey].label}
          </ExternalLink>
        );
      })
    }
  </div>
</section>
