
<section>
    <div class="card-base mx-auto w-full">
        <div class="
            font-bold text-lg text-neutral-100 relative ml-8 mt-4 mb-2 before:w-1 before:h-4
            before:rounded-md before:bg-teal-400 before:absolute before:left-[-16px] before:top-2">
            Category
        </div>
        <div class="px-4">
            <a href="">
                <button class="w-full h-10 rounded-lg bg-none active:before:bg-teal-300 
                transition-all duration-500 pl-2 text-neutral-300 hover:text-white">
                    <div class="flex items-center justify-between relative mr-2">
                        <div class="text-left whitespace-nowrap overflow-ellipsis">
                            Examples 
                        </div>
                        <div class="flex items-center justify-center transition px-2 h-7 ml-4 
                            min-w-[2rem] bg-teal-300 rounded-lg text-sm font-medium">
                            <span class="flex items-center text-[#050915] justify-center mx-auto transition">
                                4
                            </span>
                        </div>
                    </div>
                </button>
            </a>          
        </div>
    </div>
</section>